## Welcome to Coding Exercise 4

### Question 1. Points = 30
### "Shifting Members of an Array"

In this question, we want to shift our array to the right. How many times? Depends on the input. 

##### Example 1:
array = [1,2,3,4,5]
steps = 3

We need to shift the array 3 steps to the right. 
- Original array = [1,2,3,4,5]
- Step 1 = [5,1,2,3,4]
- Step 2 = [4,5,1,2,3]
- Step 3 = [3,4,5,1,2]

Answer = [3,4,5,1,2]

##### Example 2:
array = [1,2,3]
steps = 5

We need to shift the array 5 steps to the right.

- Original array = [1,2,3]
- Step 1 = [3,1,2]
- Step 2 = [2,3,1]
- Step 3 = [1,2,3]
- Step 4 = [3,1,2]
- Step 5 = [2,3,1]

Answer = [2,3,1]

In [ ]:
### Write your function here ###
import numpy as np

def shift(array,steps):
  new_array = np.roll(array,steps)
  print("new_array =",new_array)

In [ ]:
shift(array=[1,2,3,4,5],steps=3)

new_array = [3 4 5 1 2]

In [ ]:
shift(array=[1,2,3],steps=5)

new_array = [2 3 1]

### Question 2. Points = 40
### "Segitiga Paskal"

We want to generate the n-th row of "Pascal's Triangle". Your function name should be ```pascal```. For those who does not know pascal triangle, watch this video: https://www.youtube.com/watch?v=1D3KsvfB8b0 and read https://www.mathsisfun.com/pascals-triangle.html 

##### Example 1:
Input = 4,

Answer = [1,4,6,4,1]

##### Example 2:
input = 3,

Answer = [1,3,3,1]

In [ ]:
### Write your solution here ###
def pascal(P):
  row = P + 1
  a=[[] for i in range (row)]
  for i in range (row):
    for j in range (i+1):
      if (j<i):
        if(j==0):
            a[i].append(1)
        else:
            a[i].append(a[i-1][j]+a[i-1][j-1])
      elif (j==i):
          a[i].append(1)

  return a[-1]

In [ ]:
pascal(4)

[1, 4, 6, 4, 1]

In [ ]:
pascal(3)

[1, 3, 3, 1]

### Question 3. Points = 30

### "Maximum Distance Between 3 Points"

Given three coordinates, determine which two points are the furthest apart, and output the length of their distance. Your function should be called ```max_distance```. First coordinate is called 'A', second coordinate is called 'B', third coordinate is called 'C'. 


##### Example:
A = [1,2],
B = [10,-10],
C = [-3, 5]

- The distance between AB = 15
- The distance between BC = 19.8
- The distance between AC = 8.06

Answer = "The point A, B are furthest apart with distance 19.8"

In [ ]:
### Write your solution here ###
import numpy as np
import pandas as pd

def max_distance(A,B,C):
  print("coordinate A =")
  A=input()
  print("coordinate B =")
  B=input()
  print("coordinate C =")
  C=input()
    
  cA = A.split(",")
  cB = B.split(",")
  cC = C.split(",")

  A_ = list(map(int, cA))
  B_ = list(map(int, cB))
  C_ = list(map(int, cC))

  AB = ((B_[0]-A_[0])**2 + (B_[1]-A_[1])**2)**0.5
  BC = ((C_[0]-B_[0])**2 + (C_[1]-B_[1])**2)**0.5
  AC = ((C_[0]-A_[0])**2 + (C_[1]-A_[1])**2)**0.5

  if AB > BC and AB > AC:
    print("The point A, B are furthest apart with distance ", AB)
  if BC > AB and BC > AC:
    print("The point B, C are furthest apart with distance ", BC)
  if AC > AB and AC > BC:
    print("The point A, B are furthest apart with distance ", AC)

In [ ]:
max_distance(A,B,C)

coordinate A =
1,2
coordinate B =
10,-10
coordinate C =
-3,5
The point B, C are furthest apart with distance  19.849433241279208